{% extends "VersionControlGitControlBundle::admincontent.layout.html.twig" %}


{% block topnavleft %}
    {% include 'VersionControlGitControlBundle::Partials/projectEnvironments.html.twig'  %}
{% endblock %}
            
{% block header %}
    
    
    <h1 class="page-header">
           Pull
          <small>{{ project.title }}
            {% if (is_granted('MASTER', project)) %}
                (<span class="edit"><a href="{{ path('project_edit', { 'id': project.id }) }}" class="non-ajax">edit</a></span>)
            {% endif %}
        </small>
    </h1>
    <ol class="breadcrumb">
        <li>
            <a href="{{ path('home')}}"><i class="fa fa-product-hunt"></i> Projects</a>
        </li>
        <li class="active">
            <i class="fa fa-arrow-circle-left"></i> Pull
        </li>
    </ol>
{% endblock %}

{% block sidemenu -%}
 {% include 'VersionControlGitControlBundle::Partials/sidemenu.html.twig'  %}
{% endblock %}

{% block content -%}
    
    <div class="callout callout-info">
        <h4>Info</h4>
        <p>Pulling is an easy way to synchronize your local repository with upstream changes on a remote repository. It fetches 
            the specified remote’s copy of the selected branch and immediately merge it into the <strong>local current branch</strong>.
            
        </p>
    </div>
    
    <div class="box box-success">
        <div class="box-header with-border">
            <h3 class="box-title">Pull remote changes to a local repository.</h3>
            <div class="box-tools pull-right">
                  <!-- Buttons, labels, and many other things can be placed here! -->
                  <!-- Here is a label for example -->
                  <a href="{{ path('project_listremote', { 'id': project.id})}}" class="btn btn-info btn-sm pull-right" >
                      Manage Remote Repositories
                  </a>
            </div><!-- /.box-tools -->
        </div><!-- /.box-header -->
        <div class="box-body">
          {% if(remoteVersions|length == 0)%}
                <div class="alert alert-warning" role="alert">You do not have any remote servers set up for this repository. 
                    <a href="{{ path('project_newremote', { 'id': project.id})}}" title="Manage Remote Repositories">Click here to add a remote repository</a></div>
            {% else %}

                {{ form_start(pull_form,{ 'attr': { 'class': 'form'}}) }}

                    {{ form_errors(pull_form) }} 
                    
                    <div class="form-group">
                         {{ form_label(pull_form.remote) }}
                         {{ form_errors(pull_form.remote) }}
                         {{ form_widget(pull_form.remote,{ 'attr': { 'class': 'form-control', 'placeholder':'Please a remote server repository'}}) }}
                    </div>
                     
                     <div class="form-group">
                         {{ form_label(pull_form.branch) }}
                         {{ form_errors(pull_form.branch) }}
                         {{ form_widget(pull_form.branch,{ 'attr': { 'class': 'form-control', 'placeholder':'Please select a branch'}}) }}
                     </div>
                     <div class="row">
                         <div class="col-md-6">
                            {{ form_widget(pull_form.viewDiff, { 'attr': {'class': 'btn-default submit'} }) }}
                         </div>
                        <div class="col-md-6 text-right">
                            <a href="{{ path('project_log',{ 'id': project.id }) }}" class="btn btn-default">
                                Cancel
                            </a>
                            {{ form_widget(pull_form.pull, { 'attr': {'class': ' btn-success submit'} }) }}
                        </div>
                     </div>
                 {{ form_end(pull_form) }}
             {% endif %}
        </div><!-- /.box-body --> 
    </div><!-- /.box -->
             
    {% if (diffs|length > 0) %}
     <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        {% for diff in diffs %}
            <div class="panel panel-default">
                <div class="panel-heading" role="tab">
                  <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#diffPanel{{loop.index}}" aria-expanded="true" aria-controls="collapseOne">
                       {{diff.getFileName}} ({{diff.status}})
                    </a>
                  </h4>
                </div>
                <div id="diffPanel{{loop.index}}" class="panel-collapse collapse" role="tabpanel">
                    <div class="panel-body">
                        <table class="table diff table-condensed">
                            {% for diffLine in diff.diffLines %}
                                <tr class="diff-type-{{diffLine.type}}">
                                    <td class="diff-number">
                                        {{diffLine.lineNumber}}
                                    </td>
                                    <td class="diff-line-content">
                                        {{diffLine.line}}
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div> 
        {% endfor %}
    </div>
    {% endif %}

{% endblock %}
