{% extends "VersionControlGitControlBundle::admincontent.layout.html.twig" %}


{% block topnavleft %}
    {% include 'VersionControlGitControlBundle::Partials/projectEnvironments.html.twig'  %}
{% endblock %}
            
{% block header %}
    
    
    <h1 class="page-header">
           Push
          <small>{{ project.title }}
            {% if (is_granted('MASTER', project)) %}
                (<span class="edit"><a href="{{ path('project_edit', { 'id': project.id }) }}" class="non-ajax">edit</a></span>)
            {% endif %}
        </small>
    </h1>
    <ol class="breadcrumb">
        <li>
            <a href="{{ path('home')}}"><i class="fa fa-product-hunt"></i> Projects</a>
        </li>
        <li class="active">
            <i class="fa fa-arrow-circle-right"></i> Push
        </li>
    </ol>
{% endblock %}

{% block sidemenu -%}
 {% include 'VersionControlGitControlBundle::Partials/sidemenu.html.twig'  %}
{% endblock %} 

{% block content -%}
    <div class="callout callout-info">
        <h4>Info</h4>
        <p>Pushing is how you transfer commits from your local repository to a remote repository. It's the opposite of pulling, pushing commits to remote branches.
            If a matching branch name does not exist in the remote repository a new branch will be created.
            Pushing has the potential to overwrite changes, so you need to be careful how you use it. </p>
    </div>
    
    <div class="box box-success">
        <div class="box-header with-border">
            <h3 class="box-title">Push local changes to a remote repository</h3>
            <div class="box-tools pull-right">
                  <!-- Buttons, labels, and many other things can be placed here! -->
                  <!-- Here is a label for example -->
                  <a href="{{ path('project_listremote', { 'id': project.id})}}" class="btn btn-info btn-sm pull-right" >
                      Manage Remote Repositories
                  </a>
            </div><!-- /.box-tools -->
        </div><!-- /.box-header -->
        <div class="box-body">
            {% if(remoteVersions|length == 0)%}
                <div class="alert alert-warning" role="alert">You do not have any remote servers set up for this repository.
                <a href="{{ path('project_newremote', { 'id': project.id})}}" title="Manage Remote Repositories">Click here to add a remote repository</a>
                </div>
            {% else %}

                {{ form_start(push_form,{ 'attr': { 'class': 'form','data-masklabel': 'Pushing changes to remote repository...'}}) }}

                    {{ form_errors(push_form) }} 
                    
                    <div class="form-group">
                         {{ form_label(push_form.remote) }}
                         {{ form_errors(push_form.remote) }}
                         {{ form_widget(push_form.remote,{ 'attr': { 'class': 'form-control', 'placeholder':'Please select a remote repository'}}) }}
                    </div>
                     
                     <div class="form-group">
                         {{ form_label(push_form.branch) }}
                         {{ form_errors(push_form.branch) }}
                         {{ form_widget(push_form.branch,{ 'attr': { 'class': 'form-control', 'placeholder':'Please select a branch'}}) }}
                     </div>

                     <div class="text-right">
                         <a href="{{ path('project_log',{ 'id': project.id }) }}" class="btn btn-default">
                             Cancel
                         </a>
                         {{ form_widget(push_form.push, { 'attr': {'class': 'btn btn-success submit'} }) }}
                     </div>
                 {{ form_end(push_form) }}
             {% endif %}
        </div><!-- /.box-body -->
        
    </div><!-- /.box -->

{% endblock %}
