
<ul class="sidebar-menu">
    <li class="header">PROJECT NAVIGATION <a href="#" class="non-ajax" id="refresh-nav"><i class="fa fa-refresh pull-right"></i></a></li>
    <li {% if app.request.attributes.get('_route') == 'project_filelist' %}class="active"{% endif %}>
        <a href="{{ path('project_filelist', { 'id': project.id }) }}"><i class="fa fa-fw fa-file-code-o"></i><span>Files</span></a>
    </li>

    <li {% if app.request.attributes.get('_route') == 'project_log' %}class="active"{% endif %}>
        <a href="{{ path('project_log', { 'id': project.id }) }}"><i class="fa fa-fw fa-hourglass-start"></i><span>History</span></a>
    </li>

    {% if (is_granted('EDIT', project)) %}
        <li {% if app.request.attributes.get('_route') == 'project_commitlist' %}class="active"{% endif %}>
            <a href="{{ path('project_commitlist', { 'id': project.id }) }}" title="{{statusCount}} files to commit"><i class="fa fa-fw fa-history"></i>
                <span>Commit</span>
                {% if(statusCount > 0) %}
                        <span class="label bg-blue pull-right">{{statusCount}}</span> 
                {% endif %}
            </a>
        </li>
    {% endif%}
   
    {% if (is_granted('EDIT', project)) %}
    <li class="treeview {% if app.request.attributes.get('_route') in ['project_push','project_pull','project_listremote'] %}active{% endif %}">
        <a href="#" class="non-ajax">
            <i class="fa fa-fw fa-refresh"></i><span>Sync</span> 
            <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            
            <li {% if app.request.attributes.get('_route') == 'project_push' %}class="active"{% endif %}>
                <a href="{{ path('project_push', { 'id': project.id }) }}"><i class="fa fa-fw fa-arrow-circle-right"></i><span>Push</span>
                    {% if(pushPullCommitCount.pushCount > 0) %}
                        <span class="label bg-green pull-right">{{pushPullCommitCount.pushCount}}</span> 
                    {% endif %}
                </a>
            </li>
            <li {% if app.request.attributes.get('_route') == 'project_pull' %}class="active"{% endif %}>
                <a href="{{ path('project_pull', { 'id': project.id }) }}" ><i class="fa fa-fw fa-arrow-circle-left"></i><span>Pull</span> 
                    {% if(pushPullCommitCount.pullCount > 0) %}
                        <span class="label bg-green pull-right">{{pushPullCommitCount.pullCount}}</span> 
                    {% endif %}
                </a>
            </li>
            <li {% if app.request.attributes.get('_route') == 'project_listremote' %}class="active"{% endif %}>
                <a href="{{ path('project_listremote', { 'id': project.id }) }}"><i class="fa fa-fw fa-server"></i><span>Manage Remotes</span></a>
            </li>
        </ul>
    </li>
    {% endif%}
    <li class="treeview {% if app.request.attributes.get('_route') in ['project_branches','project_branch_remotes'] %}active{% endif %}">
        <a href="#" class="non-ajax">
            <i class="fa fa-fw fa-code-fork"></i><span>Branches</span> 
            <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <li {% if app.request.attributes.get('_route') == 'project_branches' %}class="active"{% endif %}>
                <a href="{{ path('project_branches', { 'id': project.id }) }}"><span>Local Branches</span></a>
          </li>
          <li {% if app.request.attributes.get('_route') == 'project_branch_remotes' %}class="active"{% endif %}>                
              <a href="{{ path('project_branch_remotes', { 'id': project.id }) }}"><span>Remote Branches</span></a>
          </li>
        </ul>
    </li>
    
    <li class="treeview {% if app.request.attributes.get('_route') in ['issues','issuemilestones','issuelabels'] %}active{% endif %}">
        <a href="#" class="non-ajax">
            <i class="fa fa-fw fa-bug"></i><span>Bug Tracking</span> 
            <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu"> 
            <li {% if app.request.attributes.get('_route') == 'issues' %}class="active"{% endif %}>
                <a href="{{ path('issues', { 'id': project.id }) }}"><i class="fa fa-circle-o text-green"></i><span>Issues</span></a>
            </li>
            <li {% if app.request.attributes.get('_route') == 'issuemilestones' %}class="active"{% endif %}>
                <a href="{{ path('issuemilestones', { 'id': project.id  }) }}"><i class="fa fa-circle-o text-aqua"></i><span>Milestones</span></a>
            </li>
            <li {% if app.request.attributes.get('_route') == 'issuelabels' %}class="active"{% endif %}>
                <a href="{{ path('issuelabels', { 'id': project.id }) }}"><i class="fa fa-circle-o text-red"></i><span>Labels</span></a>
            </li>
        </ul>
    </li>
</ul>