{% extends "VersionContolGitControlBundle::admin.layout.html.twig" %}


{% block topnavleft %}
 
{% endblock %}
            
{% block header %}
     
    <h1 class="page-header">
           Issue Integrator
           <small>{{ project.title }}</small>
    </h1>
    <ol class="breadcrumb">
        <li>
            <a href="{{ path('home')}}"><i class="fa fa-product-hunt"></i> Projects</a>
        </li>
        <li class="active">
            <i class="fa fa-edit"></i> Edit
        </li>
    </ol>
{% endblock %}

{% block sidemenu -%}
 {% include 'VersionContolGitControlBundle::Partials/modifiySideMenu.html.twig'  %}
{% endblock %} 


{% block content -%}
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8">
        
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title"><i class="fa fa-product-hunt"></i></h3>
        </div>
        <div class="box-body">
            <p>By default the Git Versioning Control System uses the local database to manage issues. 
            If you are using a 3rd party issue tracker like github you can integrate it here.</p>
            {% if( issueIntegrator is null) %}
                <div class="callout callout-info">
                    <h4>Add Issue Tracker</h4>
                    <a href="{{ path('project_issue_integrator_github_new',{'id':project.id})}}" title="Create Connection" class="btn btn-success btn-link ">
                        <i class="fa fa-github"></i> Github
                    </a>
                    <a href="{{ path('project_issue_integrator_gitlab_new',{'id':project.id})}}" title="Create Connection" class="btn btn-success btn-link ">
                        <i class="fa fa-git-square"></i> GitLab
                    </a>
                </div>
            {% else %}
                <div class="callout callout-success">
                    <h4>Connected to {{issueIntegrator.repoType|title}}</h4>
                    
                    <p><strong>Authenticated:</strong> {%if(issueIntegrator.apiToken)%}YES{%else%}NO{%endif%}</p>
                    <div class="text-right">
                        <a href="{{path('project_issue_integrator_'~issueIntegrator.repoType|lower~'_edit', {'id':project.id,'integratorId':issueIntegrator.id })}}" class="btn-sm btn btn-info text-right">Edit</a>
                    </div>
                </div>
                {% for issue in issues %}
                    <p>{{issue.id}} {{issue.title}}</p>
                {% endfor %}
            {% endif %}
                

        </div>
    </div>
  </div>
</div>
{% endblock %}