{% extends "VersionContolGitControlBundle::layout.html.twig" %}

{% block sidemenu -%}
 {% include 'VersionContolGitControlBundle::Project/sidemenu.html.twig'  %}
{% endblock %}

{% block topcontent %}
    {% include 'VersionContolGitControlBundle::Partials/projectEnvironments.html.twig'  %}
{% endblock %} 

{% block content -%}
    
    <h1 class="page-header">
       Latest Commits
      <small>
          {{ project.title }} 
      </small>
          {% if (is_granted('MASTER', project)) %}
          <span class="edit"><a href="{{ path('project_edit', { 'id': project.id }) }}">edit</a></span>
        {% endif %}
    </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i>  <a href="index.html">Dashboard</a>
            </li>
            <li class="active">
                <i class="fa fa-file"></i> Projects
            </li>
        </ol>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i> Current Branch: {{branchName}}</h3>
        </div>
        <div class="panel-body">
                <div class="row">    
                    <div class="col-xs-8 col-xs-offset-1">
                        <form action="{{ path('project_log',{ 'id': project.id}) }}" method="GET">
                            <div class="input-group">
                                <div class="input-group-btn search-panel">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                        <span id="search_concept">{{ filter ? filter : 'Filter by' }}</span> <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                      <li><a href="#messages">Commit Messages</a></li>
                                      <li><a href="#author">Author</a></li>
                                      <li><a href="#content">Content</a></li>
                                    </ul>
                                </div>
                                <input type="hidden" name="filter" value="{{ filter ? filter : '' }}" id="filter">         
                                <input type="text" class="form-control" name="keyword" placeholder="Search term..." value="{{ keyword ? keyword : '' }}">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            
                <div class="list-group spacer-top">
                {% for log in gitLogs %}

                    <div class="list-group-item">
                        <div class="row">
                            <div class="col-md-10">
                                <strong class="str-truncated">{{log.subject}}</strong>
                            </div>
                            <div class="col-md-2">
                                <a href="{{ path('project_commitdiff', { 'id': project.id, 'commitHash': log.abbrHash})}}">{{log.abbrHash}}</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10">
                                <small>Author: {{log.authorName}},  committed: {{log.authorRelative}}</small>
                            </div>
                            <div class="col-md-2">
                                <a href="#options{{ loop.index }}" data-toggle="collapse" class="btn btn-link">more options...</a>
                            </div>
                        </div>
                        <div id="options{{ loop.index }}" class="row collapse">
                             <div class="col-md-offset-6 col-md-6 text-right">
                                {% if(loop.first) %}
                                    <a href="{{ path('undocommit_soft', { 'id': project.id}) }}" class="btn btn-default btn-small" >Undo Soft</a>
                                {% endif %}
                                 <a href="" class="btn btn-default btn-small" >Checkout</a>
                                 <a href="" class="btn btn-default btn-small" >Revert To</a>
                                 <a href="" class="btn btn-default btn-small" >Show files</a>
                             </div>
                        </div>
                    </div>

                {% endfor %}
            </div>
            
            {{ totalCount|pagination(currentPage,limit)|raw }}
            
        </div>
    </div>

{% endblock %}
