{% extends "VersionContolGitControlBundle::admin.layout.html.twig" %}


{% block topnavleft %}
    {% include 'VersionContolGitControlBundle::Partials/projectEnvironments.html.twig'  %}
{% endblock %}
            
{% block header %}
    
    
    <h1 class="page-header">
        Milestones
        <small>{{ project.title }}
            {% if (is_granted('MASTER', project)) %}
                (<span class="edit"><a href="{{ path('project_edit', { 'id': project.id }) }}">edit</a></span>)
            {% endif %}
        </small>
    </h1>
    <ol class="breadcrumb">
        <li>
            <a href="{{ path('home')}}"><i class="fa fa-product-hunt"></i> Projects</a>
        </li>
        <li >
            <i class="fa fa-bug"></i> <a href="{{path('issues', { 'id': project.id }) }}">Issues</a>
        </li>
        <li class="active">
                <i class="fa fa-file"></i> Milestones
            </li>
    </ol>
{% endblock %}

{% block sidemenu -%}
 {% include 'VersionContolGitControlBundle::Project/sidemenu.html.twig'  %}
{% endblock %}

{% block content -%}
    
    <ul class="nav nav-tabs">
        <li >
            <a href="{{ path('issues', { 'id': project.id }) }}" >Issues</a>
        </li>
        <li >
            <a href="{{path('issuelabels', { 'project': project.id }) }}" >Labels</a>
        </li>
        <li  class="active">
            <a href="{{path('issuemilestones', { 'project': project.id }) }}" >Milestones</a>
        </li>
    </ul>

    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                 <div class="col-lg-10">
                    <h3 class="panel-title"><i class="fa fa-bug fa-fw"></i> Milestones: 
                        <span class="open">
                            <i class="fa fa-exclamation-circle fa-fw"></i>
                            <a  href="{{ path('issuemilestones', {'project': project.id }) }}">{{openCount}} open</a>
                        </span>
                        <span class="closed">
                            <i class="fa fa-check fa-fw"></i>
                            <a  href="{{ path(route, params | merge({ 'filter': 'closed' })|craue_removeKey('page')) }}">{{closedCount}} closed</a>
                        </span>
                    </h3>
                 </div>
                 <div class="col-lg-2">
                      <a href="{{ path('issuemilestone_new',{ 'project': project.id }) }}" class="btn btn-primary btn-sm">New Milestone</a>
                 </div>
            </div>
        </div>
        <div class="panel-body">
                <div class="list-group">
                 {% for milestone in pagination %}

                    <div class="list-group-item">
                        <div class="row">
                            <div class="col-md-9">
                                    <h3><a href="{{ path('issuemilestone_show', { 'id': milestone.id, 'project': project.id }) }}" >{{ milestone.title }}</a></h3>
                                    <div class="row">
                                            {% if(milestone.closed == false) %}
                                                {% if(milestone.dueOn) %}
                                                    <div class="col-md-6"> 
                                                        <i class="fa fa-calendar"></i>
                                                        Due By {{ milestone.dueOn|date('F j,Y \\a\\t h:m:s') }}
                                                    </div>
                                               {% else %}
                                                   <div class="col-md-6"> 
                                                   <i class="fa fa-calendar"></i>
                                                   No Due Date
                                               </div>
                                               {% endif%}
                                            {% endif %}
                                            {% if milestone.updatedAt %}
                                                <div class="col-md-6"> 
                                                    <i class="fa fa-clock-o"></i>
                                                   Updated on {{ milestone.updatedAt|date('F j,Y \\a\\t h:m:s') }}
                                               </div>
                                            {% endif %}
                                            {% if(milestone.closed)%}
                                                <div class="col-md-6"> 
                                                    <i class="fa fa-times-circle"></i>
                                                   Closed on {{ milestone.closedAt|date('F j,Y \\a\\t h:m:s') }}
                                                </div>
                                            {% endif %}
                                        </div>
                                    <p>{{ milestone.description }}<p>
                                    
                            </div>
                            <div class="col-md-3">
                                {% if(milestone.closed)%}
                                    <a href="{{ path('issuemilestone_open', { 'id': milestone.id}) }}" class="btn btn-danger">Open</a>
                                {% else %}
                                    <a href="{{ path('issuemilestone_close', { 'id': milestone.id}) }}" class="btn btn-danger">Close</a>    
                                {%endif%}
                                
                                <a href="{{ path('issuemilestone_edit', { 'id': milestone.id, 'project': project.id }) }}" class="btn btn-default">Edit</a>
                            </div>
                        </div>
                        
                    </div>

                {% endfor %}
            </div>
            <div class="count">
                {{ pagination.getTotalItemCount }}
            </div>
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>

{% endblock %}