{% extends "VersionContolGitControlBundle::layout.html.twig" %}

{% block sidemenu -%}
 {% include 'VersionContolGitControlBundle::Project/sidemenu.html.twig'  %}
{% endblock %}

{% block content -%}
    <h1 class="page-header">
       Milestones
      <small>
          {{ project.title }} 
      </small>
          {% if (is_granted('MASTER', project)) %}
          <span class="edit"><a href="{{ path('project_edit', { 'id': project.id }) }}">edit</a></span>
        {% endif %}
    </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i>  <a href="index.html">Dashboard</a>
            </li>
            <li>
                <i class="fa fa-file"></i> <a href="{{ path('issues', { 'id': project.id }) }}" title="issues">Issues</a>
            </li>
            <li class="active">
                <i class="fa fa-file"></i> Milestones
            </li>
        </ol>
    
    <ul class="nav nav-tabs">
        <li >
            <a href="{{ path('issues', { 'id': project.id }) }}" >Issues</a>
        </li>
        <li >
            <a href="{{path('issuemilestones', { 'project': project.id }) }}" >Labels</a>
        </li>
        <li  class="active">
            <a href="{{path('issuemilestones', { 'project': project.id }) }}" >Milestones</a>
        </li>
    </ul>

    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                 <div class="col-lg-10">
                    <h3 class="panel-title"><i class="fa fa-bug fa-fw"></i> Milestones 
                    </h3>
                 </div>
                 <div class="col-lg-2">
                     <a href="{{ path('issuemilestone_new',{ 'project': project.id }) }}" class="btn btn-primary btn-sm">New Milestone</a>
                 </div>
            </div>
        </div>
        <div class="panel-body">
                <div class="list-group">
                 {% for milestone in entities %}

                    <div class="list-group-item">
                        <div class="row">
                            <div class="col-md-10">
                                    <a href="{{ path('issuemilestone_edit', { 'id': milestone.id, 'project': project.id }) }}" >
                                         <i class="fa fa-tag fa-fw"></i>
                                        {{ milestone.title }}
                                        {{ milestone.description }}
                                        {{ milestone.state }}
                                        {% if milestone.dueOn %}{{ milestone.dueOn|date('Y-m-d H:i:s') }}{% endif %}
                                        {% if milestone.createdAt %}{{ milestone.createdAt|date('Y-m-d H:i:s') }}{% endif %}
                                        {% if milestone.updatedAt %}{{ milestone.updatedAt|date('Y-m-d H:i:s') }}{% endif %}
                                        {% if milestone.closedAt %}{{ milestone.closedAt|date('Y-m-d H:i:s') }}{% endif %}
                                    </a>
                            </div>
                            <div class="col-md-2">
                                <a href="" class="btn btn-danger">Delete</a>
                                <a href="{{ path('issuemilestone_edit', { 'id': milestone.id, 'project': project.id }) }}" class="btn btn-default">Edit</a>
                            </div>
                        </div>
                        
                    </div>

                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}