{% extends "VersionControlGitControlBundle::admin.layout.html.twig" %}

{% block topnavleft %}
 
{% endblock %}
            
{% block header %}
     
    <h1 class="page-header">
           User Management
          <small>List of users</small>
    </h1>
    <ol class="breadcrumb">
        <li class="active">
            <a href="{{ path('home')}}"><i class="fa fa-users"></i> User Management</a>
        </li>
    </ol>
{% endblock %}

{% block sidemenu -%}
 {% include 'VersionControlGitControlBundle::Admin/sidemenu.html.twig'  %}
{% endblock %}

{% block content -%}

    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">
                <i class="fa fa-users"></i> 
                All Users
            </h3>
            
            <div class="box-tools">
                <a class="btn btn-primary btn-sm" href="{{ path('usermanagement_new') }}">
                    <i class="fa fa-plus"></i>  New User
                </a>
            </div>
        </div>
        <div class="box-body no-padding table-responsive">
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                   {% for user in users %}
                    <tr>
                      <th scope="row">{{loop.index}}</th>
                      <td>{{user.name}} {% if (user.admin) %} <span class="admin"><span class="badge bg-aqua">admin</span></span>{% endif%}</td>
                      <td>{{user.username}}</td>
                       <td>{{user.email}}</td>
                      <td><a href="{{ path('usermanagement_edit', { 'id': user.id }) }}" class="btn btn-info btn-sm btn-flat"><i class="fa fa-edit"></i> Edit</a></td>
                    </tr>
                  {% endfor %}
                </tbody>
            </table>
         </div>
    </div>
          
{% endblock %}