{% extends '@Twig/error.layout.html.twig' %}

{% block title %}
    An Error Occurred: ({{ status_code }} {{ status_text }})
{% endblock %}

{% block body %}
    <section class="content">

        <div class="error-box">
            <!-- /.login-logo -->
            <div class="error-box-body">
                <h2 class="headline {% if(status_code == 404)%}}text-yellow{% else %}text-red{%endif%}"> {{ status_code }}</h2>

                <div class="error-content">
                    <h3><i class="fa fa-warning {% if(status_code == 404)%}}text-yellow{% else %}text-red{%endif%}"></i> {{ status_text }}</h3>

                    <p>
                        {{ exception.message }}
                    </p>
                    <p>
                        <a href="{{path('home')}}">Return to project listing</a>
                    </p>

                </div>
                <!-- /.error-content -->
            </div>
        </div>
        <!-- /.error-page -->
    </section>
{% endblock %}