{% extends "VersionContolGitControlBundle::admin.layout.html.twig" %}

{% block topnavleft %}
 
{% endblock %}
            
{% block header %}
     
    <h1 class="page-header">
           Project Members List
          <small>{{ project.title }}</small>
    </h1>
    <ol class="breadcrumb">
        <li>
            <a href="{{ path('home')}}"><i class="fa fa-product-hunt"></i> Projects</a>
        </li>
        <li>
            <i class="fa fa-dashboard"></i>  <a href="{{ path('project_edit', { 'id': project.id }) }}">Project</a>
        </li>
        <li class="active">
            <i class="fa fa-users"></i> Project Members
        </li>
    </ol>
{% endblock %}

{% block sidemenu -%}
 {% include 'VersionContolGitControlBundle::Partials/modifiySideMenu.html.twig'  %}
{% endblock %} 
    


{% block content -%}

    
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title"><i class="fa fa-user fa-fw"></i> Project Members</h3>
            <div class="box-tools">
                <button  type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#addMember">
                    <i class="fa fa-plus"></i> Add Member
                </button>
            </div>
        </div>
        <div class="box-body">
            <p>List of Project Members with access to this project.</p>
            <div class="list-group">
                {% for userProject in userProjects %}
                    <div class="list-group-item">
                        <div class="row">
                            <div class="col-md-8">
                                <strong>{{userProject.user.name}}</strong>  ({{userProject.user.username}})
                            </div>
                            <div class="col-md-2">
                                <span class="label label-success">{{userProject.roles}}</span>
                            </div>
                            <div class="col-md-2">
                                 {% if(userProject.user.id != userProject.project.creator.id)%}
                                    <a class="fa fa-edit" data-toggle="collapse" href="#edit-user-access-{{userProject.id}}" aria-expanded="false" aria-controls="edit-user-access-{{userProject.id}}"> edit</a>
                                    <a href="{{ path('userprojects_delete', { 'id': userProject.id }) }}" class="fa fa-remove"> remove</a>
                                 {% endif %}
                            </div>
                        </div>
                        <div id="edit-user-access-{{userProject.id}}" class="collapse">
                            <p></p>
                            <div class="box box-primary box-solid">
                                <div class="box-header">
                                    <h3 class="box-title"><i class="fa fa-edit"></i> Edit users access to project</h3>
                                </div>
                                <div class="box-body">
                                    <form action="{{ path('userprojects_update',{ 'id': userProject.id }) }}" method="POST" {{ form_enctype(form) }}>
                                        <input type="hidden" name="_method" value="PUT" />
                                        <div class="form-group">
                                            <label for="roles">User Role</label>
                                            <select placeholder="Please provide a description of the project" class="form-control" name="roles" id="roles">
                                                <option value="">Please select a role</option>            
                                                <option value="Reporter" {% if(userProject.roles == 'Reporter')%}selected{% endif %}>Reporter</option>            
                                                <option value="Developer" {% if(userProject.roles == 'Developer')%}selected{% endif %}>Developer</option>            
                                                <option value="Master" {% if(userProject.roles == 'Master')%}selected{% endif %}>Master</option>
                                            </select>
                                        </div>
                                        <div class="text-right">
                                            <button type="button" class="btn btn-default"  data-toggle="collapse" data-target="#edit-user-access-{{userProject.id}}">Close</button>
                                            <button class="btn btn-success" name="submit" id="versioncontol_gitcontrolbundle_userprojects_submit" type="submit">Update</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>
    </div>
                
    <!-- Modal -->
    <div class="modal fade" id="addMember" tabindex="-1" role="dialog" aria-labelledby="addMemberLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          {{ form_start(form,{ 'attr': { 'class': 'form'}}) }}
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Add Member</h4>
            </div>
            <div class="modal-body">
                 {{ form_errors(form) }}                
                  <div class="form-group">
                      {{ form_label(form.user) }}
                      {{ form_errors(form.user) }}           
                      {{ form_widget(form.user,{ 'attr': { 'class': 'form-control', 'placeholder':'Please provide a name for your project'}}) }}
                  </div>
                  <div class="form-group">
                      {{ form_label(form.roles) }}
                      {{ form_errors(form.roles) }}
                      {{ form_widget(form.roles,{ 'attr': { 'class': 'form-control', 'placeholder':'Please provide a description of the project'}}) }}
                  </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              {{ form_widget(form.submit, { 'attr': {'class': 'btn btn-success'} }) }}
            </div>
            {{ form_end(form) }}
          </div>
      </div>
    </div>
{% endblock %}