{% extends "VersionContolGitControlBundle::layout.html.twig" %}

{% block sidemenu -%}
 {% include 'VersionContolGitControlBundle::Project/sidemenu.html.twig'  %}
{% endblock %}

{% block topcontent %}
    {% include 'VersionContolGitControlBundle::Partials/projectEnvironments.html.twig'  %}
{% endblock %} 

{% block content -%}
    
    <h1 class="page-header">
       Manage Remotes
      <small>
          {{ project.title }} 
      </small>
          {% if (is_granted('MASTER', project)) %}
          <span class="edit"><a href="{{ path('project_edit', { 'id': project.id }) }}">edit</a></span>
        {% endif %}
    </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i>  <a href="index.html">Dashboard</a>
            </li>
            <li>
                <i class="fa fa-file"></i> Projects
            </li>
            <li class="active">
                <i class="fa fa-file"></i> Remotes
            </li>
        </ol>

    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-10">
                    <h3 class="panel-title"><i class="fa fa-user fa-fw"></i>  Current Branch: {{branchName}}</h3>
                </div>
                <div class="col-md-2">
                    <a href="{{ path('project_newremote', { 'id': project.id})}}" class="btn btn-primary btn-sm" >
                        Add Remote
                    </a>
                </div>
            </div>
        </div>
        <div class="panel-body">
            
                <div class="list-group spacer-top">
                {% for remote in remotes %}

                    <div class="list-group-item">
                        <div class="row">
                            <div class="col-md-10">
                                <strong class="str-truncated">{{remote.0}} {{remote.1}}</strong>
                            </div>
                            <div class="col-md-2">
                                <a href="{{ path('project_renameremote', { 'id': project.id})}}">Rename</a>
                                <a href="{{ path('project_deleteremote', { 'id': project.id, 'remote': remote.0})}}">Delete</a>
                            </div>
                        </div>
                    </div>

                {% endfor %}
            </div>
            
        </div>
    </div>

{% endblock %}
