{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'change_password.submit'|trans }}" class="btn btn-primary btn-block btn-flat"/>
    </div>
</form>
<div class="row">
    <div class="col-xs-12">
        <br/>
        <a href="{{ path("fos_user_profile_show") }}" class="btn btn-flat btn-default btn-block">Cancel</a>
    </div>
</div>
