{% extends "VersionContolGitControlBundle::admin.layout.html.twig" %}


{% block topnavleft %}
    {% include 'VersionContolGitControlBundle::Partials/projectEnvironments.html.twig'  %}
{% endblock %}
            
{% block header %}
    
    
    <h1 class="page-header">
          Issues
          <small>{{ project.title }}
            {% if (is_granted('MASTER', project)) %}
                (<span class="edit"><a href="{{ path('project_edit', { 'id': project.id }) }}">edit</a></span>)
            {% endif %}
        </small>
    </h1>
    <ol class="breadcrumb">
        <li>
            <a href="{{ path('home')}}"><i class="fa fa-product-hunt"></i> Projects</a>
        </li>
        <li class="active">
            <i class="fa fa-bug"></i> Issues
        </li>
    </ol>
{% endblock %}

{% block sidemenu -%}
 {% include 'VersionContolGitControlBundle::Partials/sidemenu.html.twig'  %}
{% endblock %}

{% block content -%}
    
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title"><i class="fa fa-bug fa-fw"></i> Issues: 
                <span class="open"><i class="fa fa-exclamation-circle fa-fw"></i><a  href="{{ path(route, params | merge({ 'filter': 'open' })|craue_removeKey('page')) }}">{{openIssuesCount}} open</a></span>
                <span class="closed"><i class="fa fa-check fa-fw"></i><a  href="{{ path(route, params | merge({ 'filter': 'closed' })|craue_removeKey('page')) }}">{{closedIssuesCount}} closed</a></span>
            </h3>
   
            <div class="box-tools">
                
                <form action="{{ path('issues', { 'id': project.id }) }}" method="GET">
                    <div class="pull-right">
                        <a href="{{ path('issue_new',{ 'id': project.id }) }}" class="btn btn-primary btn-sm bg-blue ">
                            <i class="fa fa-plus"></i> New Issue
                        </a>
                    </div>
                    <div class="input-group input-group-sm pull-right" style="width: 250px; margin-right:10px">
                            <input type="text" class="form-control " placeholder="Search issues..." name="keyword">
                            <span class="input-group-btn">
                              <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                            </span>
                     </div><!-- /input-group -->
                     
                 </form>
                
            </div>
        </div>
        <div class="box-body">
             
                <div class="list-group">
                 {% for issue in pagination %}

                    <div class="list-group-item">
                        <div class="row">
                            <div class="col-md-10">
                                <strong class="str-truncated"><a href="{{ path('issue_show', { 'id': issue.id }) }}">{{ issue.title }}</a></strong>
                            </div>
                            <div class="col-md-2">
                                <i class="fa fa-comment-o fa-fw"></i>{{issue.issueComments|length}}
                            </div>
                        </div>
                        {% if(issue.issueLabel|length > 0) %}
                            <div class="row">
                                 <div class="col-md-10">
                                    {% for label in issue.issueLabel %}
                                        <div style="background-color:#{{ label.hexColor }};" class="issue-label btn-xs">
                                            <a href="{{ path('issuelabel_edit', { 'id': label.id, 'project': project.id }) }}" style="color:#{{label.hexColor|textcolor}};">
                                                 <i class="fa fa-tag fa-fw"></i>
                                                {{ label.title }}
                                            </a>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                        <div class="row">
                            <div class="col-md-10">
                                <small>#{{issue.id}} opened by {{issue.verUser.name}} {{issue.createdAt|time_ago_in_words}}</small>
                            </div>
                            <div class="col-md-2">
                                .
                            </div>
                        </div>
                    </div>

                {% endfor %}
            </div>
            <div class="count">
                {{ pagination.getTotalItemCount }}
            </div>
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>
{% endblock %}