{% extends "VersionContolGitControlBundle::layout.html.twig" %}

{% block sidemenu -%}
 {% include 'VersionContolGitControlBundle::Project/sidemenu.html.twig'  %}
{% endblock %}

{% block content -%}
    
    
    
    <h1 class="page-header">
       Issues
      <small>
          {{ project.title }} 
      </small>
          {% if (is_granted('MASTER', project)) %}
          <span class="edit"><a href="{{ path('project_edit', { 'id': project.id }) }}">edit</a></span>
        {% endif %}
    </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i>  <a href="index.html">Dashboard</a>
            </li>
            <li class="active">
                <i class="fa fa-file"></i> Issues
            </li>
        </ol>
    <div class="row">
        <div class="col-md-9">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="{{ path('issues', { 'id': project.id }) }}" >Issues</a>
                </li>
                <li>
                    <a href="{{path('issuelabels', { 'project': project.id }) }}" >Labels</a>
                </li>
                <li>
                    <a href="{{path('issuemilestones', { 'project': project.id }) }}" >Milestones</a>
                </li>
            </ul>
        </div>
        <div class="col-md-3">
             <form action="{{ path('issues', { 'id': project.id }) }}" method="GET">
                <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search..." name="keyword">
                        <span class="input-group-btn">
                          <button class="btn btn-default" type="submit">Go!</button>
                        </span>
                 </div><!-- /input-group -->
             </form>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                 <div class="col-lg-10">
                    <h3 class="panel-title"><i class="fa fa-bug fa-fw"></i> Issues: 
                        <span class="all"><a  href="{{ path(route, params |craue_removeKey('filter')|craue_removeKey('page')) }}">{{ pagination.getTotalItemCount }}</a></span>
                        <span class="open"><i class="fa fa-exclamation-circle fa-fw"></i><a  href="{{ path(route, params | merge({ 'filter': 'open' })|craue_removeKey('page')) }}">{{openIssuesCount}} open</a></span>
                        <span class="closed"><i class="fa fa-check fa-fw"></i><a  href="{{ path(route, params | merge({ 'filter': 'closed' })|craue_removeKey('page')) }}">{{closedIssuesCount}} closed</a></span>
                    </h3>
                 </div>
                 <div class="col-lg-2">
                     <a href="{{ path('issue_new',{ 'id': project.id }) }}" class="btn btn-primary btn-sm">New Issue</a>
                 </div>
            </div>
        </div>
        <div class="panel-body">
                <div class="list-group">
                 {% for issue in pagination %}

                    <div class="list-group-item">
                        <div class="row">
                            <div class="col-md-10">
                                <strong class="str-truncated"><a href="{{ path('issue_show', { 'id': issue.id }) }}">{{ issue.title }}</a></strong>
                            </div>
                            <div class="col-md-2">
                                <i class="fa fa-comment-o fa-fw"></i>{{issue.issueComments|length}}
                            </div>
                        </div>
                        {% if(issue.issueLabel|length > 0) %}
                            <div class="row">
                                 <div class="col-md-10">
                                    {% for label in issue.issueLabel %}
                                        <div style="background-color:#{{ label.hexColor }};" class="issue-label btn-xs">
                                            <a href="{{ path('issuelabel_edit', { 'id': label.id, 'project': project.id }) }}" style="color:#{{label.hexColor|textcolor}};">
                                                 <i class="fa fa-tag fa-fw"></i>
                                                {{ label.title }}
                                            </a>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                        <div class="row">
                            <div class="col-md-10">
                                <small>#{{issue.id}} opened by {{issue.verUser.name}} {{issue.createdAt|time_ago_in_words}}</small>
                            </div>
                            <div class="col-md-2">
                                .
                            </div>
                        </div>
                    </div>

                {% endfor %}
            </div>
            <div class="count">
                {{ pagination.getTotalItemCount }}
            </div>
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>

{% endblock %}