{% extends "VersionContolGitControlBundle::layout.html.twig" %}

{% block sidemenu -%}
 {% include 'VersionContolGitControlBundle::Project/sidemenu.html.twig'  %}
{% endblock %}

{% block content -%}
    <h1 class="page-header">
        Issue #{{ entity.id }} <small>{{ entity.title }}</small> {{ entity.status }}
    </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i>  <a href="index.html">Dashboard</a>
            </li>
            <li >
                <i class="fa fa-file"></i> <a href="{{path('issues', { 'id': project.id }) }}">Issues</a>
            </li>
            <li class="active">
                <i class="fa fa-file"></i> {{ entity.title }} 
            </li>
        </ol>
    
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                 <div class="col-lg-8">
                    <h3 class="panel-title">
                        <div class="issue-state issue-state-{{ entity.status }}"> 
                            {{ entity.status|capitalize }} 
                        </div>
                        <strong>{{entity.verUser.name}}</strong> created this issue {{ entity.createdAt|time_ago_in_words }}
                          
                    </h3>
                 </div>
                 <div class="col-lg-4 text-right">
                     <a href="{{ path('issue_new',{ 'id': entity.id }) }}" class="btn btn-default btn-sm"><i class="fa fa-check fa-fw"></i>Close</a>
                     <a href="{{ path('issue_edit',{ 'id': entity.id }) }}" class="btn btn-default btn-sm"><i class="fa fa-edit fa-fw"></i>Edit</a>
                     <a href="{{ path('issue_new',{ 'id': entity.id }) }}" class="btn btn-default btn-sm"><i class="fa fa-plus fa-fw"></i>New Issue</a>
                 </div>
            </div>
        </div>
        <div class="panel-body">
            <ul class="timeline">
                <li class="timeline-inverted">
                    <div class="timeline-badge success">
                        <i class="fa fa-check"></i>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <p><small class="text-muted"><i class="fa fa-clock-o"></i> {{ entity.createdAt|time_ago_in_words }}</small>
                            </p>
                        </div>
                        <div class="timeline-body">
                            <p>{{ entity.description }}</p>
                        </div>
                    </div>
                    
                </li>
                {% for comment in  entity.issueComments %}
                    <li class="timeline-inverted">
                        <div class="timeline-badge info">
                            <i class="fa fa-comment"></i>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <p><small class="text-muted"><i class="fa fa-clock-o"></i> Created By {{comment.verUser.name}} {{ comment.createdAt|time_ago_in_words }}</small>
                                </p>
                            </div>
                            <div class="timeline-body">
                                <p>{{ comment.comment }}</p>
                            </div>
                        </div>

                    </li>
                {% endfor %}
            </ul>
            
        </div>
    </div>
                        
    <div class="panel panel-green">
        <div class="panel-heading">
            <i class="fa fa-comment fa-fw"></i>Leave a comment
        </div>
        <div class="panel-body">
            {{ form(comment_form) }}
        </div>
    </div>

{% endblock %}