{% extends "VersionContolGitControlBundle::admin.layout.html.twig" %}


{% block topnavleft %}
    {% include 'VersionContolGitControlBundle::Partials/projectEnvironments.html.twig'  %}
{% endblock %}
            
{% block header %}
    
    
    <h1 class="page-header">
        Issue #{{ entity.id }} : {{ entity.title }}
        <small>{{ project.title }}
            {% if (is_granted('MASTER', project)) %}
                (<span class="edit"><a href="{{ path('project_edit', { 'id': project.id }) }}">edit</a></span>)
            {% endif %}
        </small>
    </h1>
    <ol class="breadcrumb">
        <li>
            <a href="{{ path('home')}}"><i class="fa fa-product-hunt"></i> Projects</a>
        </li>
        <li >
            <i class="fa fa-bug"></i> <a href="{{path('issues', { 'id': project.id }) }}">Issues</a>
        </li>
        <li class="active">
                <i class="fa fa-file"></i> Issue
            </li>
    </ol>
{% endblock %}

{% block sidemenu -%}
 {% include 'VersionContolGitControlBundle::Project/sidemenu.html.twig'  %}
{% endblock %}

{% block content -%}
    
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                 <div class="col-lg-7">
                    <h3 class="panel-title">
                        <div class="issue-state issue-state-{{ entity.status }}"> 
                            {{ entity.status|capitalize }} 
                        </div>
                        <strong>{{entity.verUser.name}}</strong> created this issue {{ entity.createdAt|time_ago_in_words }}
                          
                    </h3>
                 </div>
                 <div class="col-lg-5 text-right">
                    {% if(entity.closed)%}
                        <a href="{{ path('issue_open',{ 'id': entity.id }) }}" class="btn btn-default btn-sm"><i class="fa fa-check fa-fw"></i>Re-Open</a>
                    {% else %}
                        <a href="{{ path('issue_close',{ 'id': entity.id }) }}" class="btn btn-default btn-sm"><i class="fa fa-check fa-fw"></i>Close</a>
                    {% endif %}
                     
                     <a href="{{ path('issue_edit',{ 'id': entity.id }) }}" class="btn btn-default btn-sm"><i class="fa fa-edit fa-fw"></i>Edit</a>
                     <a href="{{ path('project_branches',{ 'id': project.id,'newBranchName' : 'issue' ~ entity.id}) }}" class="btn btn-default btn-sm"><i class="fa fa-code-fork fa-fw"></i>Create Branch</a>
                     <a href="{{ path('issue_new',{ 'id': project.id }) }}" class="btn btn-default btn-sm"><i class="fa fa-plus fa-fw"></i>New Issue</a>
                 </div>
            </div>
        </div>
        <div class="panel-body">
            <ul class="timeline">
                <li class="timeline-inverted">
                    <div class="timeline-badge success">
                        <i class="fa fa-check"></i>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <p><small class="text-muted"><i class="fa fa-clock-o"></i> {{ entity.createdAt|time_ago_in_words }}</small>
                            </p>
                        </div>
                        <div class="timeline-body">
                            <p>{{ entity.description | markdown }}</p>
                        </div>
                    </div>
                    
                </li>
                {% for comment in  entity.issueComments %}
                    <li class="timeline-inverted">
                        <div class="timeline-badge info">
                            <i class="fa fa-comment"></i>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <p><small class="text-muted"><i class="fa fa-clock-o"></i> Created By {{comment.verUser.name}} {{ comment.createdAt|time_ago_in_words }}</small>
                                </p>
                            </div>
                            <div class="timeline-body">
                                <p>{{ comment.comment | markdown }}</p>
                            </div>
                        </div>

                    </li>
                {% endfor %}
            </ul>
            
        </div>
    </div>
                        
    <div class="panel panel-green">
        <div class="panel-heading">
            <i class="fa fa-comment fa-fw"></i>Leave a comment
        </div>
        <div class="panel-body">

            {{ form_start(comment_form,{ 'attr': { 'class': 'form'}}) }}

                {{ form_errors(comment_form) }} 

                <div class="form-group">
                     {{ form_label(comment_form.comment) }}
                     {{ form_errors(comment_form.comment) }}
                     {{ form_widget(comment_form.comment,{ 'attr': { 'class': 'form-control', 'placeholder':'Please enter a comment'}}) }}
                </div>

                 <div class="row">
                    <div class="col-md-12">
                        {{ form_widget(comment_form.create, { 'attr': {'class': ' btn-success submit'} }) }}
                        {{ form_widget(comment_form.createClose, { 'attr': {'class': ' btn-danger submit'} }) }}
                    </div>
                 </div>
             {{ form_end(comment_form) }}
                 
        </div>
    </div>

{% endblock %}