{% extends "VersionContolGitControlBundle::layout.html.twig" %}

{% block sidemenu -%}
 {% include 'VersionContolGitControlBundle::Project/sidemenu.html.twig'  %}
{% endblock %}

{% block content -%}
    <h1 class="page-header">
       Commit {{log.abbrHash}}
      <small>
          {{ project.title }} 
      </small>
          {% if (is_granted('MASTER', project)) %}
          <span class="edit"><a href="{{ path('project_edit', { 'id': project.id }) }}">edit</a></span>
        {% endif %}
    </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i>  <a href="index.html">Dashboard</a>
            </li>
            <li class="active">
                <i class="fa fa-file"></i> Projects
            </li>
        </ol>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i> 
                {{log.subject}}
            </h3>
        </div>
        <div class="panel-body">
               <small>Author: {{log.authorName}},  committed: {{log.authorRelative}}</small>
               <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                {% for diff in diffs %}
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab">
                          <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#diffPanel{{loop.index}}" aria-expanded="true" aria-controls="collapseOne">
                               {{diff.getFileName}} ({{diff.status}})
                            </a>
                          </h4>
                        </div>
                        <div id="diffPanel{{loop.index}}" class="panel-collapse collapse" role="tabpanel">
                            <div class="panel-body">
                                <table class="table diff table-condensed">
                                {% for diffLine in diff.diffLines %}
                                    <tr class="diff-type-{{diffLine.type}}">
                                        <td class="diff-number">
                                            {{diffLine.lineNumber}}
                                        </td>
                                        <td class="diff-line-content">
                                            {{diffLine.line}}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
        </div>
    </div>

{% endblock %}
