{% extends "VersionContolGitControlBundle::layout.html.twig" %}

{% block sidemenu -%}
 {% include 'VersionContolGitControlBundle::Project/sidemenu.html.twig'  %}
{% endblock %}

{% block content -%}
    <h1 class="page-header">
       Files
      <small>
          {{ project.title }} 
      </small>
          {% if (is_granted('MASTER', project)) %}
          <span class="edit"><a href="{{ path('project_edit', { 'id': project.id }) }}">edit</a></span>
        {% endif %}
    </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i>  <a href="index.html">Dashboard</a>
            </li>
            <li class="active">
                <i class="fa fa-file"></i> Projects
            </li>
        </ol>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i> Current Branch: {{branchName}}</h3>
        </div>
        <div class="panel-body">
                
                <div class="list-group">
                {% for filelog in files %}

                    <div class="list-group-item">
                        <div class="row">
                            <div class="col-md-3">
                                <strong class="str-truncated">{{filelog.fileName}}</strong>
                            </div>
                            <div class="col-md-2">
                                {{filelog.authorName}}
                            </div>
                            <div class="col-md-5">
                                {% if(filelog.abbrHash) %}
                                    <a href="{{ path('project_commitdiff', { 'id': project.id, 'commitHash': filelog.abbrHash})}}">{{filelog.subject}}</a>
                                {% endif %}
             
                            </div>
                            <div class="col-md-2">
                                {{filelog.authorRelative}}
                            </div> 
                        </div>
                    </div>

                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
