{% extends "VersionContolGitControlBundle::layout.html.twig" %}

{% block sidemenu -%}
 {% include 'VersionContolGitControlBundle::Project/sidemenu.html.twig'  %}
{% endblock %}

{% block topcontent %}
    {% include 'VersionContolGitControlBundle::Partials/projectEnvironments.html.twig'  %}
{% endblock %} 

{% block content -%}
    
    <h1 class="page-header">
       Latest Commits
      <small>
          {{ project.title }} 
      </small>
          {% if (is_granted('MASTER', project)) %}
          <span class="edit"><a href="{{ path('project_edit', { 'id': project.id }) }}">edit</a></span>
        {% endif %}
    </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i>  <a href="index.html">Dashboard</a>
            </li>
            <li class="active">
                <i class="fa fa-file"></i> Projects
            </li>
        </ol>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i> Current Branch: {{branchName}}</h3>
        </div>
        <div class="panel-body">
                
                <div class="list-group">
                {% for log in gitLogs %}

                    <div class="list-group-item">
                        <div class="row">
                            <div class="col-md-10">
                                <strong class="str-truncated">{{log.subject}}</strong>
                            </div>
                            <div class="col-md-2">
       
                                <a href="{{ path('project_commitdiff', { 'id': project.id, 'commitHash': log.abbrHash})}}">{{log.abbrHash}}</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10">
                                <small>Author: {{log.authorName}},  committed: {{log.authorRelative}}</small>
                            </div>
                            <div class="col-md-2">
                                show files..
                            </div>
                        </div>
                    </div>

                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
