
<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
        <li {% if app.request.attributes.get('_route') == 'project_filelist' %}class="active"{% endif %}>
            <a href="{{ path('project_filelist', { 'id': project.id }) }}"><i class="fa fa-fw fa-dashboard"></i>Files</a>
        </li>
        
        <li {% if app.request.attributes.get('_route') == 'project_log' %}class="active"{% endif %}>
            <a href="{{ path('project_log', { 'id': project.id }) }}"><i class="fa fa-fw fa-dashboard"></i>History</a>
        </li>
        
        {% if (is_granted('EDIT', project)) %}
            <li {% if app.request.attributes.get('_route') == 'project_show' %}class="active"{% endif %}>
                <a href="{{ path('project_show', { 'id': project.id }) }}"><i class="fa fa-fw fa-history"></i>Commit</a>
            </li>
        {% endif%}
        {% if (is_granted('EDIT', project)) %}
            <li {% if app.request.attributes.get('_route') == 'project_push' %}class="active"{% endif %}>
                <a href="{{ path('project_push', { 'id': project.id }) }}"><i class="fa fa-fw fa-arrow-circle-right"></i>Push</a>
            </li>
        {% endif%}
        {% if (is_granted('EDIT', project)) %}
        <li {% if app.request.attributes.get('_route') == 'project_pull' %}class="active"{% endif %}>
            <a href="{{ path('project_pull', { 'id': project.id }) }}"><i class="fa fa-fw fa-arrow-circle-left"></i>Pull</a>
        </li>
        {% endif%}
        <li {% if app.request.attributes.get('_route') == 'project_branches' %}class="active"{% endif %}>
            <a href="{{ path('project_branches', { 'id': project.id }) }}"><i class="fa fa-fw fa-code-fork"></i>Branches</a>
        </li>
        <li {% if app.request.attributes.get('_route') == 'issues' %}class="active"{% endif %}>
            <a href="{{ path('issues', { 'id': project.id }) }}"><i class="fa fa-fw fa-bug"></i>Issues</a>
        </li>
    </ul>
</div>