{% extends "VersionContolGitControlBundle::layout.html.twig" %}

{% block sidemenu -%}
 {% include 'VersionContolGitControlBundle::Project/sidemenu.html.twig'  %}
{% endblock %}

{% block content -%}
    <h1 class="page-header">
       Issues
      <small>
          {{ project.title }} 
      </small>
          {% if (is_granted('MASTER', project)) %}
          <span class="edit"><a href="{{ path('project_edit', { 'id': project.id }) }}">edit</a></span>
        {% endif %}
    </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i>  <a href="index.html">Dashboard</a>
            </li>
            <li class="active">
                <i class="fa fa-file"></i> Issues
            </li>
            <li class="active">
                <i class="fa fa-file"></i> Labels
            </li>
        </ol>
    
    <ul class="nav nav-tabs">
        <li >
            <a href="{{ path('issues', { 'id': project.id }) }}" >Issues</a>
        </li>
        <li class="active">
            <a href="{{path('issuelabels', { 'project': project.id }) }}" >Labels</a>
        </li>
        <li>
            <a href="{{path('issuemilestones', { 'project': project.id }) }}" >Milestones</a>
        </li>
    </ul>

    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                 <div class="col-lg-10">
                    <h3 class="panel-title"><i class="fa fa-bug fa-fw"></i> Labels 
                    </h3>
                 </div>
                 <div class="col-lg-2">
                     <a href="{{ path('issuelabel_new',{ 'project': project.id }) }}" class="btn btn-primary btn-sm">New Label</a>
                 </div>
            </div>
        </div>
        <div class="panel-body">
                <div class="list-group">
                 {% for label in entities %}

                    <div class="list-group-item">
                        <div class="row">
                            <div class="col-md-10">
                                <div style="background-color:#{{ label.hexColor }};" class="issue-label">
                                    <a href="{{ path('issuelabel_edit', { 'id': label.id, 'project': project.id }) }}" style="color:#{{label.hexColor|textcolor}};">
                                         <i class="fa fa-tag fa-fw"></i>
                                        {{ label.title }}
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <a href="" class="btn btn-danger">Delete</a>
                                <a href="{{ path('issuelabel_edit', { 'id': label.id, 'project': project.id }) }}" class="btn btn-default">Edit</a>
                            </div>
                        </div>
                        
                    </div>

                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}