{% set route = app.request.get('_route') %}
{% set params = app.request.get('_route_params') | merge(app.request.query.all) %}

<!-- Content Wrapper. Contains page content -->
    {% block topcontent %}{% endblock %} 

    <!-- Alert Flash Messages -->
    <div class="alert-header">

        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="alert alert-success alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h4><i class="icon fa fa-info"></i> Notice</h4>
                {{ flashMessage|nl2br }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-success alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h4><i class="icon fa fa-check"></i> Success</h4>
                {{ flashMessage|nl2br }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('error') %}
            <div class="alert alert-danger alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h4><i class="icon fa fa-ban"></i> Error</h4> 
                {{ flashMessage|nl2br }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('warning') %}
            <div class="alert alert-warning alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h4><i class="icon fa fa-warning"></i> Warning</h4>  
                {{ flashMessage|nl2br }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('info') %}
            <div class="alert alert-info alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h4><i class="icon fa fa-info"></i> Info</h4> 
                {{ flashMessage|nl2br }}
            </div>
        {% endfor %}

        {% block otherAlerts %}
        {% endblock %}
    </div>


  <!-- Content Header (Page header) -->
  <section class="content-header">
      {% block header %}
        <h1>
          Page Header
          <small>Optional description</small>
        </h1>
        <ol class="breadcrumb">
          <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
          <li class="active">Here</li>
        </ol>
    {% endblock %} 
  </section>

  <!-- Main content -->
  <section class="content">

      {% block content %}{% endblock %} 
    <!-- Your Page Content Here -->

  </section><!-- /.content -->  

{% block footerJS %}
{% endblock %}   