
<!DOCTYPE html>
<html lang="{{ app.request.get('_locale') }}" > 

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="An online versioning control">
    <meta name="author" content="Paul Schweppe">

  <title>{% block title %}Commit{% endblock %}</title>
  
    {% block head %}
        <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />
         <!-- Bootstrap Core CSS -->

        <link href="{{ asset('bundles/VersionControl/css/bootstrap.min.css') }}" rel="stylesheet">
        
        
        
        <!-- Custom CSS -->
        <link href="{{ asset('bundles/VersionControl/css/sb-admin.css') }}" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="{{ asset('bundles/VersionControl/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
        
        <link href="{{ asset('bundles/VersionControl/css/pick-a-color-1.2.3.min.css') }}" rel="stylesheet" type="text/css">
        
        <link href="{{ asset('bundles/versioncontrolgitcontrol/js/select2/v3.5/select2.css') }}" rel="stylesheet" type="text/css">

        <link href="{{ asset('bundles/versioncontrolgitcontrol/js/select2/v3.5/select2-bootstrap.css') }}" rel="stylesheet" type="text/css">
        
        <link href="{{ asset('bundles/VersionControl/css/custom.css') }}" rel="stylesheet" type="text/css">
        
        <link href="{{ asset('bundles/VersionControl/css/bootstrap-spacers.css') }}" rel="stylesheet" type="text/css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
	
    {% endblock %}    
</head>
<body>
        {% set route = app.request.get('_route') %}
        {% set params = app.request.get('_route_params') | merge(app.request.query.all) %}
        {% block body %}
            <div id="wrapper">
             <!-- Navigation -->
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('home')}}">Version Control</a>
                </div>
                <!-- Top Menu Items -->
                <ul class="nav navbar-right top-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> <b class="caret"></b></a>
                        <ul class="dropdown-menu message-dropdown">
                            <li class="message-preview">
                                <a href="#">
                                    <div class="media">
                                        <span class="pull-left">
                                            <img class="media-object" src="http://placehold.it/50x50" alt="">
                                        </span>
                                        <div class="media-body">
                                            <h5 class="media-heading">
                                                <strong>{{ app.user.username }}</strong>
                                            </h5>
                                            <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                            <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="message-preview">
                                <a href="#">
                                    <div class="media">
                                        <span class="pull-left">
                                            <img class="media-object" src="http://placehold.it/50x50" alt="">
                                        </span>
                                        <div class="media-body">
                                            <h5 class="media-heading">
                                                <strong>{{ app.user.username }}</strong>
                                            </h5>
                                            <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                            <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="message-preview">
                                <a href="#">
                                    <div class="media">
                                        <span class="pull-left">
                                            <img class="media-object" src="http://placehold.it/50x50" alt="">
                                        </span>
                                        <div class="media-body">
                                            <h5 class="media-heading">
                                                <strong>{{ app.user.username }}</strong>
                                            </h5>
                                            <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                            <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="message-footer">
                                <a href="#">Read All New Messages</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> <b class="caret"></b></a>
                        <ul class="dropdown-menu alert-dropdown">
                            <li>
                                <a href="#">Alert Name <span class="label label-default">Alert Badge</span></a>
                            </li>
                            <li>
                                <a href="#">Alert Name <span class="label label-primary">Alert Badge</span></a>
                            </li>
                            <li>
                                <a href="#">Alert Name <span class="label label-success">Alert Badge</span></a>
                            </li>
                            <li>
                                <a href="#">Alert Name <span class="label label-info">Alert Badge</span></a>
                            </li>
                            <li>
                                <a href="#">Alert Name <span class="label label-warning">Alert Badge</span></a>
                            </li>
                            <li>
                                <a href="#">Alert Name <span class="label label-danger">Alert Badge</span></a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#">View All</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{ app.user.username }} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
                            </li>
                            {% if (is_granted('ROLE_ADMIN')) %} 
                                <li>
                                    <a href="{{path('usermanagement')}}"><i class="fa fa-fw fa-user-plus"></i> Admin</a>
                                </li>
                            {% endif %}
                            <li>
                                <a href="#"><i class="fa fa-fw fa-envelope"></i> Inbox</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-fw fa-gear"></i> Settings</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="{{ path('fos_user_security_logout') }}">
                                        <i class="fa fa-fw fa-power-off"></i> Log Out
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
                {% block sidemenu %} 
                    <div class="collapse navbar-collapse navbar-ex1-collapse">
                        <ul class="nav navbar-nav side-nav">
                            <li class="active">
                                <a href="{{ path('home') }}"><i class="fa fa-fw fa-file"></i>My Projects</a>
                            </li>
                            <li>
                                <a href="index-rtl.html"><i class="fa fa-fw fa-dashboard"></i> RTL Dashboard</a>
                            </li>
                        </ul>
                    </div>
                {% endblock %}
                <!-- /.navbar-collapse -->
            </nav>

            <div id="page-wrapper">

                <div class="container-fluid">
                    {% block topcontent %}{% endblock %} 
                    
                    <!-- Page Heading -->
                    <div class="row">
                        <div class="col-lg-12">
                            {% for flashMessage in app.session.flashbag.get('notice') %}
                                <div class="alert alert-success">
                                    <em>Notice</em>: {{ flashMessage|nl2br }}
                                </div>
                            {% endfor %}
                            {% for flashMessage in app.session.flashbag.get('error') %}
                                <div class="alert alert-danger">
                                    <em>Error</em>: {{ flashMessage|nl2br }}
                                </div>
                            {% endfor %}
                            {% for flashMessage in app.session.flashbag.get('warning') %}
                                <div class="alert alert-warning">
                                    <em>Notice</em>: {{ flashMessage|nl2br }}
                                </div>
                            {% endfor %}
                            {% for flashMessage in app.session.flashbag.get('info') %}
                                <div class="alert alert-info">
                                    <em>Notice</em>: {{ flashMessage|nl2br }}
                                </div>
                            {% endfor %}
                            {% block content %}{% endblock %} 
                            
                        </div>               
                    </div>
                    <!-- /.row -->

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- /#page-wrapper -->

        </div>
        <!-- /#wrapper -->
            
        {% endblock %}

        {% block footer %}
             <!-- jQuery -->
            <script src="{{ asset('bundles/VersionControl/js/jquery.js') }}"></script>

            <!-- Bootstrap Core JavaScript -->
            <script src="{{ asset('bundles/VersionControl/js/bootstrap.min.js') }}"></script>
            
             <!-- tiny color js-->
            <script src="{{ asset('bundles/VersionControl/js/tinycolor-min.js') }}"></script>
            
             <!-- pick a color js -->
            <script src="{{ asset('bundles/VersionControl/js/pick-a-color-1.2.3.min.js') }}"></script>
            
            <script src="{{ asset('bundles/VersionControl/js/app.js') }}"></script>
            
            <!-- Applications javascript for the full site-->
            <script src="{{ asset('bundles/versioncontrolgitcontrol/js/select2/v3.5/select2.min.js') }}"></script>
            
            

        {% endblock %} 
            
        {% block footerJS %}
        {% endblock %} 

</body>
</html>